.navbar-custom {
    background-color: #000;
}
.navbar-custom .nav-link, .navbar-custom .navbar-brand {
    color: #fff;
}
.navbar-custom .nav-link:hover, .navbar-custom .dropdown-menu a:hover {
    color: #f1c40f;
}
.dropdown-menu {
    background-color: #000;
    border-color: #333;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover {
    background-color: #333;
}
.search-box input {
    border: none;
    padding: 6px;
    border-radius: 0.25rem;
}
.btn-search {
    margin-left: 10px;
}