<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quên mật khẩu</title>
</head>
<body>
<h2>Quên mật khẩu</h2>
<form th:action="@{/forgot-password/forgot-password-form}" method="post">
    <div>
        <label>Email:</label>
        <input type="email" name="email" required />
    </div>
    <button type="submit">Gửi email đặt lại mật khẩu</button>
</form>
<p th:if="${error}" th:text="${error}">Email không tồn tại!</p>
<p th:if="${message}" th:text="${message}">Email đặt lại mật khẩu đã được gửi!</p>
</body>
</html>
